* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

img {
    max-width: 100%;
}

p{
    text-align: justify;
}

.section-title {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(7, 7, 7);
    max-width: 550px;
    margin: auto;
    font-size: 31px;
}

/* Top Nav start */
/* .nav{
    transition: all .5s;
} */

.fixed-top {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10000;
}

.TopNav {
    padding: 12px;
    color: white;
    background-color: var(--dark-blue);
}

.TopNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.TopNav ul li {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}

.TopNav .socila-link i {
    border-radius: 50%;
    font-size: 20px;
    color: white;
}

.TopNav ul li:not(:last-child) {
    margin-right: .5rem;
}

/* Top Nav end */

/* navber start */
.navbar {
    --bs-navbar-padding-y: 0.0rem;
    border-bottom: 4px solid var(--dark-blue);
}

.navbar .navbar-collapse ul li a {
    padding: 25px 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.navbar .navbar-collapse ul li .active {
    color: var(--yellow);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--yellow);
}

.navbar .navbar-collapse ul li ul li a {
    padding: 10px;
}

.login-btn a {
    color: white;
    background: #043b71;
    padding: 10px 22px !important;
    border-radius: 10px;
    margin-top: 16px;
    text-align: center;
    transition: all .8s;
    cursor: pointer;
}

.login-btn a:hover {
    color: black;
    background: var(--yellow);
}

.login-btn:not(:last-child) {
    margin-right: .5rem;
}

.nav-profile ul li a {
    color: rgb(0, 0, 0) !important;
    background: none !important;
    padding: 10px !important;
    border-radius: 0px !important;
    height: auto !important;
    margin-top: 0px;
    text-align: left;
}

.nav-profile ul li:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

@media screen and (max-width: 1023px) {
    .navbar .navbar-collapse ul li a {
        padding: 10px;
    }

    .navbar .navbar-collapse ul .dropdown ul {
        width: 400px;
        overflow: scroll;
    }
}

@media screen and (max-width: 425px) {
    .navbar .navbar-collapse ul .dropdown ul {
        width: 300px;
        overflow: scroll;
    }
}

/* navber end */

/* heros start */
.carousel-item {
    height: 70vh;
    min-height: 400px;
}

.carousel-item img {
    width: auto !important;
    max-width: auto !important;
    height: 100%;
}

.carousel-caption {
    background: #a7dae9;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: left;
    display: flex !important;
    justify-content: left;
    align-items: center;
}

.carousel-caption .container {
    padding: 0;
}

.carousel-caption h5 {
    font-size: 35px;
    margin-bottom: 15px;
    vertical-align: bottom;
    font-weight: 600;
    color: #242424;
}

.carousel-caption h5:first-child {
    margin-bottom: 22px;
}

.carousel-caption p {
    color: #242424;
    font-size: 18px;
    margin-bottom: 35px;
}

.heros-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    /* font-size: 23px; */
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
    transition: all .8s;
    background-color: var(--dark-blue);
}

.heros-btn:hover {
    color: rgb(0, 0, 0);
    background-color: var(--yellow);
}

.carousel-control-next,
.carousel-control-prev {
    width: 45px;
    height: 45px;
    background: black !important;
    border-radius: 50%;
    padding: 10px;
    top: calc((100% - 65px)/2)
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev {
    left: 10px;
}

@media screen and (max-width: 1023px) {
    .carousel-item {
        height: 55vh;
        margin-bottom: 50px;
        min-height: 600px;
        margin-bottom: 0;
    }

    .carousel-caption {
        padding-top: 6rem;
    }

    .carousel-caption h5:first-child {
        margin-bottom: 18px;
    }

    .carousel-caption h5 {
        font-size: 27px;
    }

    .carousel-caption div {
        padding-left: 30px;
        padding-right: 30px;
    }

    .carousel-caption p {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-caption div {
        padding-left: 25px;
        padding-right: 25px;
    }

    .carousel-caption {
        padding-top: 8rem;
    }

    .carousel-item {
        margin-bottom: 50px;
        min-height: 420px;
        margin-bottom: 0;
    }

    .carousel-caption h5 {
        font-size: 19px;
        margin-bottom: 12px;
        vertical-align: bottom;
        font-weight: 600;
        color: black;
    }

    .carousel-caption h5:first-child {
        margin-bottom: 15px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .carousel-caption a {
        margin-bottom: 15px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 35px;
        height: 35px;
    }

    .carousel-control-next {
        right: 6px;
    }

    .carousel-control-prev {
        left: 6px;
    }

    .heros-btn {
        padding: 5px 12px;
        font-size: 14px;
    }
}

/* heros end */

/* Package start */
.package h2 {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.package .package-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s;
    box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1);
}

.package .package-card:hover {
    transform: translateY(-7px);
    background-color: var(--hover-yellow);
}

.package .package-card .pac-image-box {
    padding: 25px;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.package .package-card .pac-image-box1 {
    background-color: var(--red);
}

.package .package-card .pac-image-box2 {
    background-color: var(--yellow);
}

.package .package-card .pac-image-box3 {
    background-color: var(--green);
}

.package .package-card h4,
.package .package-card h5 {
    font-weight: 600;
    margin-bottom: 15px;
}

.package .package-card h5 {
    font-size: 1.3rem;
}

@media screen and (max-width: 1023px) {
    .package .package-card {
        padding: 15px 8px;
    }
}

/* Package end */

/* Major Fild start */
.major-field {
    background-color: var(--dark-blue);
    background-image: url(/Images/pattern_bg2.png);
    color: white;
}

.major-field h2 {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    max-width: 550px;
    margin: auto;
}

.major-field p {
    max-width: 550px;
    margin: auto;
    font-weight: 600;
}

.major-field a {
    text-decoration: none;
    color: white;
}

.major-field .major-card {
    overflow: hidden;
    padding: 35px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: #8686864d;
    color: white;
    text-align: center;
    transition: all .7s;
}

.major-field .major-card:hover {
    background-color: var(--hover-yellow);
}

.major-field .major-card i {
    font-size: 52px;
}

.major-field .major-card p {
    margin-bottom: 0;
}

.swiper-pagination {
    margin-top: 10px;
    position: inherit !important;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #efefef;
}

/* Major Fild start */

/* how it works start */
.how-work-section {
    background-color: #e9e9e9;
}

.how-work-section .how-work-card {
    padding: 25px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1);
    transition: all .7s;
}

.how-work-section .how-work-card:hover {
    transform: translateY(-7px);
    background-color: var(--hover-yellow);
    cursor: pointer;
}

.how-work-section .how-work-card h4 {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}

.how-work-section .how-work-card p {
    text-align: justify;
}

.how-work-section .how-work-card {
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
}

.how-work-section .how-work-card span {
    position: absolute;
    top: -15px;
    left: -15px;
    color: white;
    font-size: 26px;
    font-weight: 800;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--dark-blue);
}

/* how it works end */

/* cartification start */
.certification {
    background-color: #0e4d8bc9;
}

.certification h2 {
    color: white;
}

.certification .cartify-card {
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1);
    transition: all .7s;
}

.certification .cartify-card:hover {
    transform: translateY(-7px);
    background-color: var(--hover-yellow);
}

.cartify-card .imag-box {
    padding: 7px;
    border-radius: 5px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartify-card p {
    text-align: justify;
}

/* cartification end */

/* blog start */
.blog-more-btn{
    display: inline-block !important;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all .8s;
    width: auto;
    margin: auto;
    text-decoration: none;
    background-color: var(--dark-blue);
}

.blog-more-btn:hover{
    color: black;
    background-color: var(--yellow);
}

.blog-page-heros{
    padding: 3.5rem !important;
}

.bolg-card {
    overflow: hidden;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1);
    transition: all .7s;
}

.bolg-card:hover {
    transform: translateY(-7px);
    background-color: var(--hover-yellow);
}

.bolg-card .img-box {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bolg-card .img-box img {
    width: 100%;
}

.bolg-card .img-box .blog-time {
    background-color: #043b71a8;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.bolg-card .text-part {
    padding: 0 20px;
    text-align: justify;
}

.bolg-card .text-part a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.bolg-card .text-part a h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.blog-single-page .content-part {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1);
}

.blog-single-page .content-part .img-box {
    border-radius: 10px;
    max-height: 400px;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 10px;
}

.blog-single-page .content-part .img-box img {
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
}

.blog-single-page .content-part .text-part {
    padding: 0 20px;
}

.blog-single-page .content-part .text-part h3 {
    font-weight: 600;
    color: var(--dark-blue);
    text-transform: capitalize;
}

.blog-single-page .content-part .text-part ul {
    list-style: none;
    padding: 0;
}

.blog-single-page .content-part .text-part ul li:not(:last-child) {
    margin-bottom: 10px;
}

.blog-single-page .content-part .text-part ul i {
    color: white;
    padding: 4px;
    margin-right: 0.5rem;
    border-radius: 50%;
    font-weight: 800;
    background-color: var(--dark-blue);
}

.blog-single-page .comment h4{
    font-weight: 600;
    color: var(--dark-blue);
    text-transform: capitalize;
}

.blog-single-page .comment form input,
.blog-single-page .comment form textarea{
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid var(--dark-blue);
    background-color: transparent;
    margin-bottom: 15px;
    outline: none;
    transition: all .5s;
}

.blog-single-page .comment form input:focus,
.blog-single-page .comment form textarea:focus{
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 0 0px 5px var(--dark-blue);
}

.blog-single-page .comment form textarea{
    max-width: 100%;
    height: 140px;
}

.blog-single-page .comment form button {
    border: none;
    border-radius: 7px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    background-color: var(--dark-blue);
    transition: all .8s;
}

.blog-single-page .comment form button:hover {
    color: black;
    background-color: var(--yellow);
}
/* blog end */

/* contact form start */
.contact-form {
    background-color: #e9e9e9;
}

.contact-form h4 {
    font-weight: 600;
    font-size: 28px;
}

.contact-form form input,
.contact-form form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
    width: 100%;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    box-shadow: 0 0px 5px var(--yellow);
}

.contact-form form .input2 input {
    width: 49%;
}

.contact-form form textarea {
    height: 150px;
}

.contact-form form button {
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all .8s;
    background-color: var(--dark-blue);
}

.contact-form form button:hover {
    color: black;
    background-color: var(--yellow);
}

/* contact form end */

/* footer start */
.footer-top-1 {
    background-color: var(--green);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-align: justify;
    justify-content: center;
}

.footer-top-2 {
    background-color: var(--red);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    text-align: justify;
    justify-content: center;
}

.footer-top-2 img {
    max-width: 90%;
    font-size: 18px;
}

@media screen and (max-width: 767px) {

    .footer-top-1 img,
    .footer-top-2 img {
        margin-bottom: 10px;
    }
}

footer {
    background-color: var(--dark-blue);
    padding-left: 10px;
    padding-right: 10px;
    color: white !important;
}

footer .footer-img p {
    color: rgb(220, 219, 219);
    text-align: justify;
}

footer ul {
    padding: 0;
    justify-content: center;
    align-items: center;
}

footer ul li {
    display: block;
}

footer ul li ul li a {
    color: rgb(220, 219, 219);
    text-decoration: none;
    padding: 15px 0px;
    font-weight: 500;
}

footer ul li ul li {
    padding: 7px;
    transition: all .5s;
}

footer ul li ul li:hover {
    transform: translateX(5px);
}

footer ul li ul li:hover a {
    color: var(--yellow) !important;
}

footer p {
    margin-bottom: 0;
}

/* footer end */

/* package page start */
.package-heros {
    background: linear-gradient(rgba(38, 5, 144, 0.5), rgba(14, 24, 167, 0.5)), url(./Images/package-page/package-heros.jpg);
    padding: 6rem 0;
    background-size: cover;
    color: white;
    font-size: 18px;
}

.package-heros h2 {
    font-size: 32px;
    font-weight: 700;
}

.package-title {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 5px;
    display: inline-block;
    color: var(--dark-blue);
    border-bottom: 4px solid var(--yellow);

}

.dataTables_wrapper {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.packages table {
    border: 1px solid var(--dark-blue);
    background-color: white;
    border-radius: 7px;
}

.packages table a {
    font-weight: 700;
    color: var(--dark-blue) !important;
}

.packages table td button {
    border: none;
    color: white;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: var(--dark-blue);
    transition: all .7s;
}

.packages table td button:hover {
    color: black;
    background-color: var(--yellow);
}

.dt-row {
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper {
        padding: 10px 0;
        overflow: hidden;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        width: 130px;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        width: min-content;
    }

    div.dataTables_wrapper div.dataTables_filter {
        margin-top: 8px;
    }

    .dt-row {
        overflow-x: auto;
    }
}

/* package page end */


/* package single page start */
.package-single-heros .h2 {
    background-color: rgba(255, 255, 255, 0.915);
    color: var(--dark-blue);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.package-single-heros .h2 h2 {
    max-width: 500px;
    font-size: 25px;
}

.package-single-heros .h2 .bold {
    font-weight: 600;
    font-size: 1.2rem !important;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.packages-single h4,
.packages-single .bold {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.packages-single .right-side-card {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--dark-blue);
    box-shadow: 0 .5rem .937rem rgba(181, 182, 183, 0.532) !important;
}

.packages-single p {
    text-align: justify;
}

.packages-single .right-side-card img {
    max-width: 100%;
    width: 100%;
    max-height: 260px;
    border-radius: 10px;
}

.packages-single .right-side-card .text-part h2 {
    font-size: 32px;
    font-weight: 600;
}

.packages-single .right-side-card .text-part ul,
.objectives {
    list-style: none;
    padding: 0;
}

.packages-single .right-side-card .text-part ul li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-blue);
}

.objectives li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.packages-single .right-side-card .text-part ul li span {
    font-weight: 600;
    font-size: 17px;
}

.packages-single .right-side-card .text-part ul li i,
.objectives li i {
    color: white;
    padding: 4px;
    margin-right: .5rem;
    border-radius: 50%;
    background-color: var(--dark-blue);
}

.packages-single .right-side-card button {
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: var(--dark-blue);
    transition: all .7s;
}

.packages-single .right-side-card button:hover {
    color: rgb(6, 6, 6);
    background-color: var(--yellow);
}

/* package single page end */

/* login page start */
.login-page {
    background-color: white;
}

.singup {
    background: url(./Images/singUp-bg.jpg);
}

.login-page .login-div {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    border-radius: 10px;
    max-width: 650px;
    margin: auto;
}

.login-page .login-div h4 {
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 10px;
    color: var(--dark-blue);
    border-bottom: 5px solid var(--yellow);
}

.login-page .login-div form input,
.login-page .login-div form select {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    background-color: transparent;
    margin-bottom: 15px;
    outline: none;
    transition: all .5s;
}

.login-page .login-div form input:focus,
.login-page .login-div form select:focus {
    border: none;
    border-radius: 7px;
    box-shadow: 0 0px 5px var(--dark-blue);
}

.login-page .login-div form button {
    border: none;
    border-radius: 7px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    background-color: var(--dark-blue);
    transition: all .8s;
}

.login-page .login-div form button:hover {
    color: black;
    background-color: var(--yellow);
}

.singup-div {
    max-width: 550px !important;
}

.second-form {
    display: none;
}

.second-form p {
    font-size: 27px;
    font-weight: 700;
}

#Ptin {
    display: none;
}

/* login page end */

/* about us start */
.about-us {
    background-color: white;
    font-size: 18px;
}

.about-us p {
    margin-bottom: 20px;
}

.accordion-header .accordion-button {
    font-size: 20px;
    font-weight: 700 !important;
}

.about-us h4 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* about us end */

/* blog page start */
.blog-heros{
    background-color: rgb(223 223 223);
    padding: 6rem 0;
    background-size: cover;
    color: white;
    font-size: 18px;
}

.blog-heros .h2 {
    background: none !important;
    color: var(--dark-blue);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.blog-heros .h2 h2 {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 5px !important;
}

.blog-heros .h2 a{
    text-decoration: none;
}

.blog-heros .h2 a:first-child {
    color: black;
    margin-right: .7rem;
}

.blog-heros .h2 a:last-child{
    color: var(--dark-blue);
    margin-left: .6rem;
}

.blog-card .img-box{
    position: relative;
}

.blog-card .img-box span{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--dark-blue);
    font-weight: 700;
    color: white;
}

.blog-page .blog-card {
    padding: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    /* background-color: #ffffff; */
    /* box-shadow: 0 4px 20px rgba(65, 65, 65, 0.1); */
    transition: all .7s;
}

.blog-page .blog-card:hover {
    transform: translateY(-7px);
    background-color: var(--hover-yellow);
}

.blog-page .blog-card .text-part{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.blog-page .blog-card .text-part a {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: var(--dark-blue);
}

.blog-page .blog-card .text-part .btn {
    font-size: 19px;
    padding: 7px 20px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.blog-page .blog-card .text-part .btn:hover {
    color: rgb(11, 11, 11);
    background-color: var(--yellow);
}

.blog-page .blog-card .img-box {
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-page .blog-card .img-box {
    max-width: 100%;
    max-height: 100%;
}

.blog-card ul{
    list-style: none;
    padding: 0;
}

.blog-card ul li{
    display: inline-block;
    margin-right: .5rem;
}

.blog-card ul li i{
    color: var(--dark-blue);
}

.blog-page .recent-post {
    background-color: rgb(227, 227, 227);
    padding: 20px;
    border-radius: 7px;
    padding-bottom: 15px;
}

.blog-page .recent-post h5 {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--dark-blue);
}

.blog-page .recent-post .recent-post-card {
    text-decoration: none;
    color: black;
    display: block;
}

.blog-page .recent-post .recent-post-card:hover {
    color: var(--dark-blue);
}

.blog-page .recent-post .recent-post-card i {
    color: var(--dark-blue);
} 

.blog-page .recent-post .recent-post-card:not(:last-child) {
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 1rem;
}

.blog-page .recent-post .recent-post-card img {
    height: 80px;
    width: 80px;
    margin-right: 1.3rem;
    border-radius: 50%;
}

.blog-page .recent-post .recent-post-card p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.recent-post ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.recent-post ul li {
    display: inline-block;
    margin: 10px;
}

.recent-post ul li a{
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.recent-post ul li a:hover{
    background-color: var(--hover-yellow);
    color: white;
}

.blog-search input{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #c7c7c7;
    outline: none;
}

.blog-search form{
    width: 100%;
    position: relative;
}

.blog-search form label{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--yellow);
    color: white;
    padding: 13px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
/* blog page end */

/* User Profile start */
.edit-profile {
    background-color: white;
}

.edit-profile .container {
    max-width: 700px;
}

.edit-profile .container .section-title {
    color: var(--dark-blue);
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--yellow);
}

.edit-profile form label {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.edit-profile form label,
.edit-profile form input,
.edit-profile form select {
    display: block;
    width: 100%;
    margin: 10px;
}

.edit-profile form input,
.edit-profile form select {
    padding: 10px;
    outline: none;
    border: 1px solid var(--dark-blue);
    border-radius: 7px;
    transition: all .5s;
}

.edit-profile form input:focus,
.edit-profile form select:focus {
    border: none;
    border-radius: 7px;
    box-shadow: 0 0px 5px var(--dark-blue);
}

.edit-profile form button {
    border: none;
    border-radius: 7px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    background-color: var(--dark-blue);
    transition: all .8s;
    margin-top: 10px;
}

.edit-profile form button:hover {
    color: black;
    background-color: var(--yellow)
}

@media screen and (max-width: 475px) {

    .edit-profile form label,
    .edit-profile form input,
    .edit-profile form select {
        width: 95%;
    }
}

.profile-page .tab-content {
    width: 100%;
}
/* User Profile end */

.copy-write{
    background-color: var(--dark-blue);
    color: white;
    border-top: 1px solid white;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1260px;
    }
}

:root {
    --yellow: #ffc107;
    --hover-yellow: #f8ac35;
    --dark-blue: #043b71;
    --green: #79a889;
    --red: #ec716b;
}